/* You can add global styles to this file, and also import other style files */
body {
    /*font: 1em/2em "Futura", sans-serif;*/
    font: 1em/2em 
        -apple-system, 
        BlinkMacSystemFont, 
        "Segoe UI", 
        "Roboto", 
        "Oxygen", 
        "Ubuntu", 
        "Cantarell", 
        "Fira Sans", 
        "Droid Sans", 
        "Helvetica Neue", 
        sans-serif;
    margin: 2em;
    padding: 1em;
}

h1{
    text-align: center;
}

p {
    padding: inherit;
    margin: 1em;
}

.footer{
    text-align: center;
}

.pull-right{
    float: right;
}

.clear{
    clear: both;
}

@media(max-width 800px{

}