/* You can add global styles to this file, and also import other style files */
body {
    font: 1em/2em "Futura", sans-serif;
}

h1{
    text-align: center;
}

p {
    margin: .5em 3em .5em 3em;
    padding: 1em;
    font: inherit;
}

.footer{
    text-align: center;
}

.pull-right{
    float: right;
}

.clear{
    clear: both;
}